body {
    margin: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vh;
    margin:10px auto;
    border: 1px solid black;
}
.row{
    display: flex;
}
.row div {
    border: 0px solid black;
    aspect-ratio: 1 / 1; 
    flex: 1;
    margin: 0px;
}
button {
    display: block;
    margin: 0 auto;
}